<header class="page-header">
  <div class="container-fluid">
    <div class="clearfix">
    <h2 class="no-margin-bottom float-left" >All Supplier:</h2>
    <a href="/suppliers/new" class="btn btn-primary active float-right" role="button" aria-pressed="true">+ Create</a>
    </div>
  </div>
</header>
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb" style="margin-bottom:30px;">
    <li class="breadcrumb-item active" aria-current="page">Suppliers</li>
    <li class="breadcrumb-item"><a href="/suppliers/new">new</a></li>
  </ol>
</nav>

<div class="container">

<table class="table display" id="example">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Supplier Name:</th>
      <th scope="col">Address:</th>
      <th scope="col">Contact No:</th>
      <th scope="col">Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each supplier as | supplierlist |}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{ supplierlist.name }}</td>
      <td>{{ supplierlist.location }}</td>
      <td>{{ supplierlist.contact }}</td>
      <td>
        <a href="/suppliers/{{ supplierlist.id }}" class="btn btn-primary">Edit/Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>
