<h2>Supplier List:</h2>

{{#each supplier as | supplierlist |}}

Supplier Name: {{ supplierlist.name }} |
Address: {{ supplierlist.location }} |
Contact No: {{ supplierlist.contact }}

<form
  class="form-inline"
  action="/suppliers/{{ supplierlist.id }}?_method=DELETE"
  method="post">
    <a href="/suppliers/{{ supplierlist.id }}" class="btn btn-warning">Update</a>
    <button class="btn btn-danger" type="submit" name="button">Delete</button>
</form>

<hr/>

{{/each}}

<h3 class="display-4 text-center">
  <a href="/suppliers/new">Create New</a>
</h3>
