<header class="page-header">
  <div class="container-fluid">
    <div class="clearfix">
    <h2 class="no-margin-bottom float-left" >Warehouse / Retail Location:</h2>
    <a href="/location/new" class="btn btn-outline-warning active float-right" role="button" aria-pressed="true"><i class="ion-plus-round"></i> Create New</a>
    </div>
  </div>
</header>
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb" style="margin-bottom:30px;">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Location</li>
  </ol>
</nav>

<div class="container">
  <table class="table display" id="example">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Address</th>
        <th scope="col">Type</th>
        <th scope="col">Zone</th>
        <th scope="col">Shelf</th>
        <th scope="col">Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each locations as |loca|}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{loca.address}}</td>
          <td>{{loca.type}}</td>
          <div id="exampleAccordion" data-children=".item">
            <td>
              {{#each loca.zone}}
                {{#if loca.zone.length}}
                  {{#if @first}}
                    {{ this }} to
                  {{/if}}
                  {{#if @last}}
                    {{ this }}
                  {{/if}}
                {{/if}}
              {{/each}}
            </td>
            <td>
              {{#contains loca.type "Warehouse"}}
                {{#each loca.shelf}}
                  {{#if @first}}
                    {{ this }} to
                  {{/if}}
                  {{#if @last}}
                    {{ this }}
                  {{/if}}
                {{/each}}
              {{/contains}}
            </td>
          </div>
          <td>
            <a href="/location/{{loca._id}}" class="btn btn-primary">Edit/Delete</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
