<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Inventory</li>
    <li class="breadcrumb-item"><a href="/inventory/models/new">new furniture model</a></li>
  </ol>
</nav>

<a href="/inventory/stocks"><button type="button" name="button">Stocks View</button></a>

<table class="table display inventory" id="example">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item Code</th>
      <th scope="col">Model</th>
      <th scope="col">Color</th>
      <th scope="col">Dimension</th>
      <th scope="col">Barcode</th>
      <th scope="col">View</th>
      <th scope="col">Edit/Delete</th>
      <th scope="col">Quantity</th>

    </tr>
  </thead>
  <tbody>
    {{#each allModelsDisplay as |furnitureModel| }}
    <tr>
      <th scope="row">{{@index}}</td>
      <td >{{ furnitureModel.itemCode }}</td>
      <td >{{ furnitureModel.model }}</td>
      <td >{{ furnitureModel.color }}</td>
      <td >{{ furnitureModel.dimension }}</td>
      <td >{{ furnitureModel.barcode }}</td>
      <td ><a href="/inventory/models/{{furnitureModel.itemCode}}"><button type="button" name="button">View Infor</button></a></td>
      <td >
        <a href="/inventory/models/{{furnitureModel.itemCode}}/edit"><button type="button" name="button">Edit</button></a>
      </td>

      <td >
        {{furnitureModel.totalqty}}
        {{!-- {{#if furnitureModel.stocks}} --}}

          {{!-- {{#each furnitureModel.stocks as |stock| }}


              <div>
                {{ stock.quantity}} qty :
                {{ stock.location.address}} ({{ stock.location.type}} {{ stock.zone}}{{ stock.shelf}})
              </div>
              {{!-- <td>{{ stock.zone}}</td>
              <td>{{ stock.shelf}}</td> --}}



          {{!-- {{/each}} --}}




        {{!-- {{/if}} --}}
      </td>
    </tr>
    {{/each}}
  </tbody>

</table>
