<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Inventory </li>
    <li class="breadcrumb-item active" aria-current="page">stocks</li>
    <li class="breadcrumb-item"><a href="/inventory/stocks/new">new stocks</a></li>
  </ol>
</nav>

<a href="/inventory/"><button type="button" name="button">Model View</button></a>

<table class="table display" id="example">
  <thead>
    <tr>
      <th>Location</th>
      <th>Quantity</th>
      <th>Zone</th>
      <th>shelf</th>
      <th>Detail View</th>
      <th>Remove</th>
      <th>Model</th>
      <th>Item Code</th>
      <th>Color</th>
      <th>Dimension</th>
      <th>View model</th>
    </tr>
  </thead>

  <tbody>

    {{#each furnitureStocks as |furnitureStock| }}

    <tr>
      <td>{{ furnitureStock.location.address}} ({{ furnitureStock.location.type}})</td>
      <td>{{ furnitureStock.quantity}}</td>
      <td>{{ furnitureStock.zone}}</td>
      <td>{{ furnitureStock.shelf}}</td>



      <td ><a href="/inventory/stocks/{{ furnitureStock.id}}"><button type="button" name="button">View Infor</button></a></td>
      <td>
        <form class="" action="/inventory/stocks/{{furnitureStock.id}}?_method=DELETE" method="post">
          <button class="btn btn-info" type="submit" name="button">Delete</button>
        </form>
      </td>
      <td >{{ furnitureStock.furnitureModel.model }}</td>
      <td >{{ furnitureStock.furnitureModel.itemCode }}</td>
      <td >{{ furnitureStock.furnitureModel.color }}</td>
      <td >{{ furnitureStock.furnitureModel.dimension }}</td>
      <td ><a href="/inventory/models/{{ furnitureStock.furnitureModel.itemCode}}"><button type="button" name="button">View Model</button></a></td>
    </tr>
    {{/each}}
  </tbody>


</table>
