<a href="/inventories/models/new"><button type="button" name="button">Add new furniture model</button></a>
<table>
  <tr>
    <th>Item Code</th>
    <th>Model</th>
    <th>Color</th>
    <th>Dimension</th>
    <th>Stocks</th>
  </tr>

  {{#each allModelsDisplay as |furnitureModel| }}
  <tr>
    <td rowspan="{{furnitureModel.stocksAmt}}">{{ furnitureModel.itemCode }}</td>
    <td rowspan="{{furnitureModel.stocksAmt}}">{{ furnitureModel.model }}</td>
    <td rowspan="{{furnitureModel.stocksAmt}}">{{ furnitureModel.color }}</td>
    <td rowspan="{{furnitureModel.stocksAmt}}">{{ furnitureModel.dimension }}</td>
    <td rowspan="{{furnitureModel.stocksAmt}}"><a href="/inventories/models/{{furnitureModel.itemCode}}"><button type="button" name="button">View Infor</button></a></td>
    <td>
      {{#each furnitureModel.stocks as |stock| }}
      <tr>
        {{!-- <td>{{ stock.locatione}}</td> --}}
        <td>{{ stock.quantity}}</td>
      </tr>
      {{/each}}
    </td>
  </tr>
  {{/each}}


</table>
