<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/location">Location</a></li>
    <li class="breadcrumb-item active" aria-current="page">Update</li>
  </ol>
</nav>

<div class="container-fluid">

<div class="col-lg-12" style="margin-top: 25px;">
  <div class="card">
    <div class="card-close">
      <form action="/location/{{location._id}}?_method=DELETE" method="POST">
        <button type="submit" class="btn btn-danger" name="button"><i class="ion-trash-b"></i> Delete</button>
      </form>
    </div>
    <div class="card-header d-flex align-items-center">
      <h3 class="h4">Update Location</h3>
    </div>
    <div class="card-body">
      <form action="/location/{{location._id}}?_method=PUT" method="POST">
        <div class="form-group">
          <label class="form-control-label" for="addressfield">Address:</label>
          <input type="address" class="form-control" name="address" placeholder="8 Claymore Hill" value="{{location.address}}">
        </div>
        {{#contains location.type "Warehouse"}}
        <div class="form-group" id="otherType">
          <label for="Zone" class="col-sm-2 col-form-label">Start zone</label>
          <div class="col-sm-10">
            <input type="address" class="form-control" name="zone_start" id="Zone" placeholder="eg. A-Z" value="{{location.zone_start}}">
          </div>
          <label for="Zone" class="col-sm-2 col-form-label">End zone</label>
          <div class="col-sm-10">
            <input type="address" class="form-control" name="zone_stop" id="Zone" placeholder="eg. A-Z" value="{{location.zone_stop}}">
          </div>
          <label for="Shelf" class="col-sm-2 col-form-label">Start shelf</label>
          <div class="col-sm-10">
            <input type="address" class="form-control" name="shelf_start" id="Shelf" placeholder="eg. 1-100" value="{{location.shelf_start}}">
          </div>
          <label for="Shelf" class="col-sm-2 col-form-label">End shelf</label>
          <div class="col-sm-10">
            <input type="address" class="form-control" name="shelf_stop" id="Shelf" placeholder="eg. 1-100" value="{{location.shelf_stop}}">
          </div>
        </div>
        {{/contains}}
        <div class="form-group">
          <a href="/location" class="btn btn-secondary" role="button" aria-pressed="true">Cancel</a>
          <button type="submit" class="btn btn-primary">Save changes</button>
      </form>
    </div>
    </div>
  </div>

</div>
</div>
