<h3>Add Stock information for {{ furnitureModel.model }} ({{ furnitureModel.itemCode }})</h3>

<form action="/inventory/models/{{furnitureModel.itemCode}}/newStock" method="post">
  <label for="lblLocation">Location: </label>
  <select name="stock[location]">
    {{#each locations as |location|}}
    <option  value="{{ location.id }}">{{ location.type }} </option>
    {{/each}}
  </select>
  {{!-- <label for="lblZone and Shelf">Zone and Shelf: </label>

  <select>
    {{#each warehouseLocations as |warehouseLocation|}}
    <option name="stock[warehouse]" value="{{ warehouseLocation.id }}">{{ warehouseLocation.zone }} {{ warehouseLocation.shelf }}</option>
    {{/each}}
  </select> --}}

  <label for="lblQuantity">Quantity:: </label>
  <input type="text" name="stock[quantity]" placeholder="Enter Quantity">
  <input type="hidden" name="stock[furnitureModel]" value="{{furnitureModel.id}}">

  <button type="submit" name="btn">Submit</button>

</form>
