<table>
  <tr>
    <th>Item Code</th>
    <th>Model</th>
    <th>Color</th>
    <th>Dimension</th>
    <th>Barcode</th>
  </tr>


  <tr>
    <td>{{ furnitureModel.itemCode }}</td>
    <td>{{ furnitureModel.model }}</td>
    <td>{{ furnitureModel.color }}</td>
    <td>{{ furnitureModel.dimension }}</td>
    <td>{{ furnitureModel.barcode }}</td>
  </tr>
</table>
<a href="/inventory/models/{{furnitureModel.itemCode}}/edit"><button type="button" name="button">Edit</button></a>

<table>
  <tr>
    <th></th>
    <th>Quantity</th>
    <th>Location</th>
    <th>Zone</th>
    <th>Shelf</th>
  </tr>
  {{#each furnitureStocks as |stock| }}
  <tr>
    <td></td>
    <td>{{ stock.quantity}}</td>
    <td>{{ stock.location.address}} ({{ stock.location.type}})</td>
    <td>{{ stock.zone}}</td>
    <td>{{ stock.shelf}}</td>
    <td><a href="/inventory/stocks/{{ stock.id}}"><button type="button" name="button">View Infor</button></a></td>
    <td>
      <form class="" action="/inventory/stocks/{{stock.id}}?_method=DELETE" method="post">
        <button class="btn btn-info" type="submit" name="button">Delete</button>
      </form>
    </td>
  </tr>
  {{/each}}
  <tr>
    <td>Total</td>
    <td>{{total}}</td>
  </tr>

</table>
<a href="/inventory/models/{{furnitureModel.itemCode}}/newStock"><button type="button" name="button">Add new stock</button></a>


<form class="" action="/inventory/models/{{ furnitureModel.itemCode }}?_method=DELETE" method="post">
  <button class="btn btn-info" type="submit" name="button">Delete</button>
</form>
