<h3>Edit {{ furnitureModel.model }} ({{ furnitureModel.itemCode }})</h3>

<form action="/inventories/models/{{furnitureModel.itemCode}}?_method=PUT" method="post">
  <label for="lblItemCode">Item Code: </label>
  <input type="text" name="model[itemCode]" placeholder="Enter Item Code" value="{{ furnitureModel.itemCode }}">

  <label for="lblModel">Model: </label>
  <input type="text" name="model[model]" placeholder="Enter Model" value="{{ furnitureModel.model }}">

  <label for="lblColor">Color: </label>
  <input type="text" name="model[color]" placeholder="Enter Color" value="{{ furnitureModel.color }}">

  <label for="lblDimension">Dimension: </label>
  <input type="text" name="model[dimension]" placeholder="Enter Dimension" value="{{ furnitureModel.dimension }}">

  <button type="submit" name="btn">Submit</button>

</form>

<form class="" action="/inventories/models/{{ furnitureModel.itemCode }}?_method=DELETE" method="post">
  <button class="btn btn-info" type="submit" name="button">Delete</button>
</form>
