<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="/inventory">Inventory</a></li>
    <li class="breadcrumb-item active" aria-current="page"><a href="/inventory/stocks">stocks</a></li>
    <li class="breadcrumb-item">new</li>

  </ol>
</nav>
<div class="container-fluid">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header d-flex align-items-center">
        <h3>Add Stock information for {{ furnitureModel.model }} ({{ furnitureModel.itemCode }})</h3>
      </div>
      <div class="card-body">
        <form action="/inventory/stocks/new" method="post">
          <div class="form-group row">
            <div class="col-sm-4">
              <label class="form-control-label" for="lblQuantity">Quantity: </label>
              <input class="form-control" type="text" name="stock[quantity]" placeholder="Enter Quantity">
            </div>
            <div >
              <label class="form-control-label" for="lblQuantity">Furniture Model</label>
              <select class="form-control" name="stock[furnitureModel]">
                {{#each furnitureModels as |furnitureModel| }}
                <option  value="{{furnitureModel.id}}">{{ furnitureModel.model }}({{ furnitureModel.itemCode }})</option>
                {{/each}}
              </select>
            </div>
          </div>
          <div class="line"></div>
          <div>
            <label  class="form-control-label" for="lblLocation">Location: </label>
            <div class="form-group row">
              {{#each locations as |location|}}
              <div class="">
                <input class="form-control" type="radio" id="location" name="stock[location]" value="{{location.id}}">
                <h5 class="form-control-label">{{ location.address }}({{ location.type }})</h5>
                <div class="reveal-if-active">
                  {{#if location.zone}}
                  <label  class="form-control-label" for="lblZone">Zone: </label>
                  <select class="require-if-active" name="stock[zone]">
                    <option  value=""></option>
                    {{#each location.zone as |zone|}}
                    <option  value="{{ zone }}">{{ zone }} </option>
                    {{/each}}
                  </select>

                  <label class="form-control-label" for="lblShelf">Shelf: </label>
                  <select class="require-if-active" name="stock[shelf]">
                    <option  value=""></option>
                    {{#each location.shelf as |shelf|}}
                    <option  value="{{ shelf }}">{{ shelf }} </option>
                    {{/each}}
                  </select>
                  {{/if}}
                </div>
              </div>
              {{/each}}
          </div>
          </div>
          <div class="line"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{!--
<div class="container">
  <h3>Add Stock</h3>

  <form action="/inventory/stocks/new" method="post">

    <label for="lblQuantity">Quantity: </label>
    <input type="text" name="stock[quantity]" placeholder="Enter Quantity">
    <div>
      <label for="lblLocation">Location: </label>
      {{#each locations as |location|}}
      <div class="">
        <input type="radio" id="location" name="stock[location]" value="{{location.id}}">
        <h5>{{ location.address }}({{ location.type }})</h5>
        <div class="reveal-if-active">
          {{#if location.zone}}
          <label for="lblZone">Zone: </label>
          <select class="require-if-active" name="stock[zone]">
            <option  value=""></option>
            {{#each location.zone as |zone|}}
            <option  value="{{ zone }}">{{ zone }} </option>
            {{/each}}
          </select>

          <label for="lblShelf">Shelf: </label>
          <select class="require-if-active" name="stock[shelf]">
            <option  value=""></option>
            {{#each location.shelf as |shelf|}}
            <option  value="{{ shelf }}">{{ shelf }} </option>
            {{/each}}
          </select>
          {{/if}}
        </div>
      </div>
      {{/each}}

    </div>

    <button type="submit" name="btn">Submit</button>

  </form>
</div> --}}
