<table>
  <tr>
    <th>Location</th>
    <th>Quantity</th>
    <th>Item Code</th>
    <th>Model</th>
    <th>Color</th>
    <th>Dimension</th>
  </tr>


  <tr>
    <td>{{ furnitureStock.location.type }} </td>
    <td>{{ furnitureStock.quantity }} </td>
    <td><a href="/inventories/models/{{ furnitureStock.furnitureModel.itemCode }}">{{ furnitureStock.furnitureModel.itemCode }}</a></td>
    <td>{{ furnitureStock.furnitureModel.model }}</td>
    <td>{{ furnitureStock.furnitureModel.color }}</td>
    <td>{{ furnitureStock.furnitureModel.dimension }}</td>
  </tr>
</table>

<a href="/inventories/stocks/{{furnitureStock.id}}/edit"><button type="button" name="button">Edit</button></a>

<form class="" action="/inventories/stocks/{{furnitureStock.id}}?_method=DELETE" method="post">
  <button class="btn btn-info" type="submit" name="button">Delete</button>
</form>
{{!--
<a href="/inventories/models/{{furnitureModel.itemCode}}/newStock"><button type="button" name="button">Add new stock</button></a>
<form class="" action="/inventories/models/{{ furnitureModel.itemCode }}?_method=DELETE" method="post">
  <button class="btn btn-info" type="submit" name="button">Delete</button>
</form> --}}
