<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page"><a href="/orders">Orders</a></li>
    <li class="breadcrumb-item active">new</li>
  </ol>
</nav>
<div class="container">
{{models}}

  <h3 class="display-4 text-center">
    <p>Create New Order</p>
  </h3>
    <form action="/orders" method="post">
      <div class="form-group row">
        <label for="date" class="col-2 col-form-label">Date</label>
        <div class="col-8">
          <input type="date" name="date" class="form-control" value="{{today}}" required>
        </div>
      </div>
      <div class="form-group row">
        <label for="invoiceNo" class="col-2 col-form-label">Invoice No.</label>
        <div class="col-8">
          <input type="text" name="invoiceNo" class="form-control" placeholder="Invoice Number" value="INV20171120">
        </div>
      </div>
      <div class="form-group row">
        <label for="quotationNo" class="col-2 col-form-label">Quotation No.</label>
        <div class="col-8">
          <input type="text" name="quotationNo" class="form-control" placeholder="Quotaion Number" value="Q20170630">
        </div>
      </div>
      <div class="form-group row">
        <label for="customer" class="col-2 col-form-label">Customer</label>
        <div class="col-8">
          <select class="form-control" name="customers">
            {{#each customers as |customer|}}
              <option value="{{customer.name}}">{{customer.name}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="transport" class="col-2 col-form-label">Mode of Transport</label>
        <div class="col-8">
          <select class="form-control" name="transport">
            <option value="Local">Local</option>
            <option value="Air">Air</option>
            <option value="Sea">Sea</option>
          </select>
        </div>
      </div>

      <div class="form-group row">
        <label for="delivery_time" class="col-2 col-form-label">Delivery Time</label>
        <div class="col-8">
          <input type="time" name="delivery_time" value="13:30" class="form-control" required>
        </div>
      </div>

      <div class="form-group row">
        <label for="transport_cost" class="col-2 col-form-label">Shipping Cost $</label>
        <div class="col-8">
          <input type="number" name="transport_cost" class="form-control" value="100.10" step="0.01" min="0">
        </div>
      </div>

      <div class="form-group row">
        <label for="terms" class="col-2 col-form-label">Terms of Delivery</label>
        <div class="col-8">
          <textarea name="terms" class="form-control" rows="2" cols="50">hello</textarea>
        </div>
      </div>

      <div class="form-group row">
        <label for="address" class="col-2 col-form-label">Delivery Address</label>
        <div class="col-8">
          <input type="text" name="address" class="form-control" value="{{customer.address}}">
        </div>
      </div>
      <table id="orderItems" class="table table-striped">
        <thead>
          <tr>
            <th>Item Name</th>
            <th>Order Type</th>
            <th>ReturnDate</th>
            <th>Quantity</th>
            <th><button type="button" name="button" id="addRow">+</button></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><input type="text" id="row-1-itemName" name="row-1-itemName" placeholder="Item Name"></td>
            <td><select size="1" id="row-1-orderType" class="orderType" name="row-1-orderType">
              <option value="sales" selected="selected">Sales</option>
              <option value="demo">Demo</option>
            </select>
          </td>
          <td><input type="date" id="row-1-returnDate" class="returnDate" name="row-1-returnDate" disabled></td>
          <td><input type="number" id="row-1-orderQuantity" name="row-1-orderQuantity" value="1"></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
