<header class="page-header">
  <div class="container-fluid">
    <div class="clearfix">
    <h2 class="no-margin-bottom float-left" >All Orders:</h2>
    <a href="/orders/new" class="btn btn-primary active float-right" role="button" aria-pressed="true">+ Create</a>
    </div>
  </div>
</header>
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb" style="margin-bottom:30px;">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Orders</li>
  </ol>
</nav>

<div class="container">

  <table id="example" class="display table-striped" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th>Date</th>
        <th>Invoice No</th>
        <th>Mode of Transport</th>
        <th>Delivery Time</th>
        <th>Address</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each orders as |order|}}
      <tr>
        <td>{{order.formattedDate}}</td>
        <td><a href="orders/{{order.id}}">{{order.invoiceNo}}</a></td>
        <td>{{order.modeOfTransport}}</td>
        <td>{{order.deliveryTime}}</td>
        <td>{{order.deliveryAddress}}</td>
        <td>
          <a href="orders/{{order.id}}?_method=DELETE">Delete</a>
          <a href="/orders/{{order.id}}/tracking/{{tracking.id}}">Track</a>
        </tr>
        {{/each}}
    </tbody>
</table>

</div>
