<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"><a href="/orders">Orders</a></li>
    <li class="breadcrumb-item">Current Order</li>
  </ol>
</nav>

<div class="container">
  <h6 class="display-4 text-center">
    <p>Invoice Number: {{order.invoiceNo}}</p>
  </h6>

  <p><span>Date of Order: {{order.formattedDate}}<span></p>

  <h6>Details:</h6>
  <span>Quotation No.: {{order.quotationNo}} &emsp;<span>
  <p><span>Customer: {{order.reseller}} &emsp;</span>
     <span>Delivery Time: {{order.deliveryTime}} &emsp;</span>
     <span>Delivery Address: {{order.deliveryAddress}} &emsp;</span>
     <span>Shipping Cost: ${{order.shippingCost}}</span>
  </p>

  <h6>Terms of Delivery:</h6>
  <p>{{order.termOfDelivery}}</p>

    <li>{{order.items}}</li>
  <table class="table table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>Ordered Item</th>
        <th>OrderType</th>
        <th>Quantity</th>
        <th>Unit Price</th>
        <th>Total Price</th>
      </tr>
    </thead>
    <tbody>
      {{#each order.items as |item|}}
      <tr>
        <th scope="row">1</th>
        <td>{{item.furnitureStockId}}</td>
        <td>{{item.order_type}}</td>
        <td>{{item.quantity_ordered}}</td>
        <td>{{!-- item.price --}}</td>
        <td>{{!-- item.price * item.quantity_ordered --}}</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
  <a href="/orders">Go Back</a><br>
  <a href="/orders/{{order.id}}/tracking/{{tracking.id  }}">Track Delivery</a>
</div>
