<header class="page-header">
  <div class="container-fluid">
    <div class="clearfix">
    <h2 class="no-margin-bottom float-left" >Incoming Stock List:</h2>
    <a href="/incomingstock/new" class="btn btn-outline-warning active float-right" role="button" aria-pressed="true"><i class="ion-plus-round"></i> Create New</a>
    </div>
  </div>
</header>
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb" style="margin-bottom:30px;">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Incoming Stock</li>
  </ol>
</nav>

<div class="container">

<table class="table display" id="example">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Invoice No:</th>
      <th scope="col">Batch No:</th>
      <th scope="col">Lot No:</th>
      <th scope="col">Payment method:</th>
      <th scope="col">Payment Status:</th>
      <th scope="col">Cheque No:</th>
      <th scope="col">Supplier:</th>
      <th scope="col">Furniture Model:</th>
      <th scope="col">Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each incomingstock as | stocklist |}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{ stocklist.invoiceNo }}</td>
      <td>{{ stocklist.batchNo }}</td>
      <td>{{ stocklist.lotNo }}</td>
      <td>{{ stocklist.paymentMethod }}</td>
      <td>{{ stocklist.paymentStatus }}</td>
      <td>{{ stocklist.chqNo }}</td>
      <td class="table-link" data-toggle="modal" data-target=".bd-example-modal-lg-{{stocklist.supplier.id}}">{{ stocklist.supplier.name }}</td>
      <td>{{ stocklist.furnitureModel.model }}</td>
      <td>
        <a href="/incomingstock/{{ stocklist.id }}" class="btn btn-primary">Edit/Delete</a>
      </td>
      <div class="modal fade bd-example-modal-lg-{{stocklist.supplier.id}}"  tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Supplier Detail:</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Name: {{ stocklist.supplier.name }} <hr>
              Contact: {{ stocklist.supplier.contact }} <hr>
              Location: {{ stocklist.supplier.location }}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>
