<h2>Incoming Stock List:</h2>

{{#each incomingstock as | stocklist |}}

Invoice No: {{ stocklist.invoiceNo }} |
Batch No. {{ stocklist.batchNo }} |
Lot No: {{ stocklist.lotNo }} |
Payment method: {{ stocklist.paymentMethod }} |
Payment Status: {{ stocklist.paymentStatus }} |
Cheque No: {{ stocklist.chqNo }} |
Supplier: {{ stocklist.supplier }} |
Furniture Model: {{ stocklist.furnitureModel }} |

<form
  class="form-inline"
  action="/incomingstock/{{ stocklist.id }}?_method=DELETE"
  method="post">
    <a href="/incomingstock/{{ stocklist.id }}" class="btn btn-warning">Update</a>
    <button class="btn btn-danger" type="submit" name="button">Delete</button>
</form>

<hr/>
{{/each}}

<h3 class="display-4 text-center">
  <a href="/incomingstock/new">Create New</a>
</h3>
