<h3 class="display-4 text-center">
<p>All trackings</p>
</h3>
{{!-- {{#forIn trackings.items }}
  {{trackings}}
{{/forIn}} --}}
{{#each trackings as |tracko|}}
  <p>{{tracko.order}}</p>
{{/each}}
{{!-- {{trackings.modeOfTransport}} --}}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <table class="table display" id="example">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Address</th>
        <th scope="col">Type</th>
        <th scope="col">Zone</th>
        <th scope="col">Shelf</th>
        <th scope="col">Edit/Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each trackings as |tracka|}}
        <tr>
          <th scope="row">{{@index}}</th>
          <td>{{loca.address}}</td>
          <td>{{loca.type}}</td>
          <div id="exampleAccordion" data-children=".item">
            <td>
              {{#each loca.zone}}
                {{#if loca.zone.length}}
                  {{#if @first}}
                    {{ this }} to
                  {{/if}}
                  {{#if @last}}
                    {{ this }}
                  {{/if}}
                {{/if}}
              {{/each}}
            </td>
            <td>
              {{#contains loca.type "Warehouse"}}
                {{#each loca.shelf}}
                  {{#if @first}}
                    {{ this }} to
                  {{/if}}
                  {{#if @last}}
                    {{ this }}
                  {{/if}}
                {{/each}}
              {{/contains}}
            </td>
          </div>
          <td>
            <a href="/location/{{loca._id}}" class="btn btn-primary">Edit/Delete</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
