<header class="page-header">
  <div class="container-fluid">
    <div class="clearfix">
    <h2 class="no-margin-bottom float-left" >All Customers:</h2>
    <a href="/customers/new" class="btn btn-primary active float-right" role="button" aria-pressed="true">+ Create</a>
    </div>
  </div>
</header>
<nav aria-label="breadcrumb" role="navigation">
  <ol class="breadcrumb" style="margin-bottom:30px;">
    <li class="breadcrumb-item active" aria-current="page">Customer</li>
    <li class="breadcrumb-item"><a href="/customers/new">new</a></li>
  </ol>
</nav>

<div class="container">

<table class="table display" id="example">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Company Name</th>
      <th scope="col">Company Address</th>
      <th scope="col">Contact Person</th>
      <th scope="col">Contact No</th>
      <th scope="col">Email</th>
      <th scope="col">Edit/Delete</th>
    </tr>
  </thead>
  <tbody>
    {{#each customers as |cust|}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{cust.name}}</td>
      <td>{{cust.companyAddress}}</td>
      <td>{{cust.contactPerson}}</td>
      <td>{{cust.contactNo}}</td>
      <td>{{cust.email}}</td>
      <td>
        <a href="/customers/update/{{cust._id}}" class="btn btn-primary">Edit/Delete</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>

</div>
{{!-- <div class="container">
    <div class="row">
      {{#each customers as |cust|}}
        <div class="col-sm-4 ">
          <div class="text-center">
            <div class="card card-plain">
              <br>
              <h4 class="card-title">{{ cust.name }}</h4>
              <p class="card-text">
                Company Addres : {{ cust.companyAddress }}
              </p>
              <p class="card-text">
                Email: {{cust.email}}
              </p>
              <p class="card-text">
                Contact Person: {{cust.contactPerson}}
              </p>
              <p class="card-text">
                Contact No: {{cust.contactNo}}
              </p>

              <p>
                <form action="/customers/{{ cust.id }}?_method=DELETE" method="post">
                  <a href="/customers/update/{{ cust.id }}" class="btn bg-warning">View Customer</a>
                </form>
              </p>
            </div>
          </div>
        </div>
      {{/each}}
    </div> --}}
