<div class="container">
    <div class="row">
      {{#each customers as |cust|}}
        <div class="col-sm-4 ">
          <div class="text-center">
            <div class="card card-plain">
              <br>
              <h4 class="card-title">{{ cust.name }}</h4>
              <p class="card-text">
                Company Addres : {{ cust.companyAddress }}
              </p>
              <p class="card-text">
                Email: {{cust.email}}
              </p>
              <p class="card-text">
                Contact Person: {{cust.contactPerson}}
              </p>
              <p class="card-text">
                Contact No: {{cust.contactNo}}
              </p>

              <p>
                <form action="/customers/{{ cust.id }}?_method=DELETE" method="post">
                  <a href="/customers/update/{{ cust.id }}" class="btn bg-warning">View Customer</a>
                </form>
              </p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
